<a href="https://colab.research.google.com/github/vysh-vyshu26/Data-Visualization/blob/main/Z_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [6]:
df=pd.read_csv("/content/kidney-stone-dataset.csv")

In [7]:
df.head()

   S.No  gravity    ph  osmo  cond  urea  calc  target
0     1    1.021  4.91   725  14.0   443  2.45       0
1     2    1.017  5.74   577  20.0   296  4.49       0
2     3    1.008  7.20   321  14.9   101  2.36       0
3     4    1.011  5.51   408  12.6   224  2.15       0
4     5    1.005  6.52   187   7.5    91  1.16       0

In [9]:
df[['ph','calc']].describe()

              ph       calc
count  90.000000  90.000000
mean    6.036651   4.017788
std     0.711801   3.016273
min     4.760000   0.170000
25%     5.536520   1.412500
50%     5.936247   3.230000
75%     6.490000   5.965127
max     7.940000  13.000000

In [13]:
ztest ,pvalue = stests.ztest(df['ph'], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.0
-1865.421399371598

In [11]:
if pvalue<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted